table {
    margin-left: auto;
    margin-right: auto;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {
    overscroll-behavior-y: contain;
}
