.field-unused {
    background-color: #dbe5f1;
}

.field-valid {
    background-color: #9bbb59;
}

.field-invalid {
    background-color: #c0504d;
}

.field-blocked {
    background-color: #8064a2;
}

.field-nextBlocked {
    background-color: #e5b8b7;
}

.field-missed {
    background-color: #4f81bd;
}

.field-ship {
    border: 1px solid black;
    width: 30px;
    height: 30px;
}
